@model List<Product>
<div class="row" style="margin-bottom: 25px" id="ControlPanelTable">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Найменование</th>
            <th scope="col">Категория</th>
            <th scope="col">Подкатегория</th>
            <th scope="col">Всего</th>
            <th scope="col">Продано</th>
            <th scope="col">Добавлено в корзину</th>
            <th scope="col">Осталось</th>
        </tr>
        </thead>
        <tbody>
        @{
            int count = 1;
        }
        @foreach (Product product in Model)
        {
            <tr>
                <th scope="row">@count</th>
                <td>@product.Name</td>
                <td>@product.Category.Name</td>
                <td>@product.Subcategory.Name</td>
                <td>@product.TotalDelivered</td>
                <td>@product.Sold</td>
                <td>@product.AddedToCart</td>
                <td>@product.Quantity</td>
            </tr>
            count++;
        }
        </tbody>
    </table>
</div>
@if (Model != null && Model.Count >= 9)
{
    <div div="row">
        <ul class="pagination pagination-lg justify-content-end">
            <li class="page-item disabled">
                <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">1</a>
            </li>
            <li class="page-item">
                <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
            </li>
        </ul>
    </div>
}